@media only screen and (max-width: 1285px) {
  body {
    max-width: 1280px;
  }
  header,
  .container {
    max-width: 1280px;
  }
  header .img_ava {
    left: calc(534px);
  }
  header .star_1 {
    left: calc(500px);
  }
  header .star_2 {
    left: calc(1128px);
    top: 922px;
  }
  header .gear {
    left: calc(1224px);
  }
  header .rectangle_2 {
    width: 960px;
    left: 320px;
  }
  @keyframes ellipse_1 {
    0% {
      left: 37px;
      top: 335px;
      z-index: -1;
      opacity: 1;
    }
    50% {
     left: 800px;
      top: 305px;
      z-index: -2;
      opacity: 0.5;
    }
    100% {
      left: 37px;
      top: 345px;
      z-index: -1;
      opacity: 1;
    }
  }
  @keyframes ellipse_2 {
    0% {
     left: 800px;
      top: 335px;
      z-index: -2;
      opacity: 0.5;
    }
    50% {
      left: 37px;
      top: 325px;
      z-index: -1;
      opacity: 1;
    }
    100% {
     left: 800px;
      top: 365px;
      z-index: -2;
      opacity: 0.5;
    }
  }
}
