@media only screen and (min-width: 1595px) {
  header .img_ava {
    left: 840px;
  }
  header .star_1 {
    left: 806px;
  }
  header .star_2 {
    left: 1435px;
    top: 922px;
  }
  header .gear {
    left: 1530px;
  }
}
